@import url('https://fonts.googleapis.com/css2?family= Noto+Serif+TC & display = swap');
*{
    box-sizing: border-box;
    color:#38241B;
}
@mixin pc {
    @media (max-width: 1024px) {
    @content;
    }
}
@mixin pad {
    @media (max-width: 768px) {
    @content;
    }
}
@mixin phone {
    @media (max-width: 375px) {
    @content;
    }
}
:root {
    --font-m: 16px;
    --font-l: calc(var(--font-m)* 1.5);
    --font-s: calc(var(--font-m)* 0.8);
    --primary-color: #38241B;
    --red-color:  #951205;
}
ul,li{
    list-style: none;
    display: block;
}
a {
    text-decoration: none;
    color: #FFF;

}
.red-btn{
    padding: 7px 30px;
    color: #FFF;
    background-color: var(--red-color);
    border-radius: 50px;
    border: 2px;
}
.shadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrap{
    .title{
        font-weight: 900;
        padding: 20px;
        font-size: 40px;
        line-height: 57px;
        text-align: center;
        background-color: var(--primary-color);
        h1{
            color: #fff;
        }
    }
}
h1,h2,h3,.noto-font{
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
}